{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Berkeley CS Course Recommender</h1>
    <p>Enter your preferred specialization to receive recommendations!</p>

    <form id="specform" action="/recommendations/" method="POST">
      {% csrf_token %}
      <select required name="spec" style="color:navy; font-size:16pt; height:50px; width:450px">
         <option value=""> None</option>
          <option value="mlai"> Machine Learning / Artificial Intelligence</option>
          <option value="sys"> Systems</option>
          <option value="thy"> Theory</option>
          <option value="hci"> Human-Computer Interaction</option>
      </select>
      <br><br>
      <input type="submit" value="Get My Recommendations!" style="color: navy; font-size:16pt; height:50px; width:450px">
    </form>

  </div>
</div>
<div class="container">
  <center><h1>Your Recommendations</h1></center>
  <hr>
  <div class="row">

    <center><h3>Nothing yet!</h3>
      </center>

      <br><br><br><br>

  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Disclaimer: this website is not affiliated with the University of California.
  </div>
</div>
{% endblock %}
