{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Berkeley CS Course Recommender</h1>
    <p>You chose {{ spec }}! Your recommendations are below. </p>

    <form id="specform" action="/recommendations/" method="POST">
      {% csrf_token %}
      <select required name="spec" style="color:navy; font-size:16pt; height:50px; width:450px">
         <option value=""> None</option>
          <option value="mlai"> Machine Learning / Artificial Intelligence</option>
          <option value="sys"> Systems</option>
          <option value="thy"> Theory</option>
          <option value="hci"> Human-Computer Interaction</option>
      </select>
      <br><br>
      <input type="submit" value="Get My Recommendations!" style="color: navy; font-size:16pt; height:50px; width:450px">
    </form>

  </div>
</div>
<div class="container">
  <center><h1>Your Recommendations</h1></center>
  <hr>
  <div class="row">

      <center>
        <p>Based on your chosen specialization ({{ spec }}), we recommend you take the following courses:</p>
        <p id="myText"> Old text </p>

        <script>
              function changeText() {
                document.getElementById("myText").innerHTML = "New text!";
              }
        </script>

        <table>
          <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Difficulty</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
          <tr>
            <td>Ernst Handel</td>
            <td>Roland Mendel</td>
            <td>Austria</td>
          </tr>
          <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>UK</td>
          </tr>
          <tr>
            <td>Laughing Bacchus Winecellars</td>
            <td>Yoshi Tannamuri</td>
            <td>Canada</td>
          </tr>
          <tr>
            <td>Magazzini Alimentari Riuniti</td>
            <td>Giovanni Rovelli</td>
            <td>Italy</td>
          </tr>
        </table>
      </center>

      <br>

  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Disclaimer: this website is not affiliated with the University of California.
  </div>
</div>
{% endblock %}
